<div class="body">
    <div class="left-funs animated" ng-class="{'fadeInRight':clicked,'fadeOutRight':!clicked}">
      <ul class="nav">
        <li><a href="#">HOME</a></li>
        <li><a href="#">DATA SETS</a></li>
        <li><a href="#">TUTORIALS</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">NEWS</a></li>
        <li><a href="#">TOOLS</a></li>
        <li><a href="#">ABOUT</a></li>
      </ul>
    </div>
    <div id='summary'>
      <div class="nav navbar-nav">
        <div class="container">
          <div class="topButtons">
            <button class="btn btn-info">Select cases by IDs</button>
            <button class="btn btn-info">Query all samples</button>
            <button class="btn btn-info">View all cases</button>
          </div>
        </div>
      </div>
      <div dashboard="dashboardOptions" template-url="views/dashboard.html" class="dc-charts"></div>
      <!-- <packery class="dc-charts">
            <packery-object ng-repeat="attr in testAttr">
            <dc-pie ng-if="attr.dcType === 'pie'" group="{{attr.group}}" attrid="{{attr.attr_id}}"></dc-pie>
            <dc-bar ng-if="attr.dcType === 'bar'" group="{{attr.group}}" attrid="{{attr.attr_id}}"></dc-bar>
            </packery-object>
      </packery> -->
    </div>
    <div id='clinicalTable'></div>
</div>