<div class="study-view-dc-chart study-view-pie-main">
    <div style="height: 16px; width:100%; float:left; text-align:center;">
        <div style="height:16px;float:right;">
            <img  class="study-view-title-icon hidden hover" src="images/reload-alt.svg"/> 
            <img class="study-view-title-icon hover" src="images/pie.svg"/>
            <img class="study-view-title-icon study-view-table-icon hover" src="images/table.svg"/>
            <div class="study-view-download-icon">
                <img style="float:left" src="images/in.svg"/>
            </div>
            <img class="study-view-drag-icon" src="images/move.svg"/>
            <span class="study-view-dc-chart-delete">x</span>
        </div>
        <chartTitleH4>{{attr.display_name}}</chartTitleH4>
    </div>
    <div style="width:180px;float:left;text-align:center" id="study-view-pie-chart-{{attr.attr_id}}"></div>
</div>